.editor-grid {
    display: grid;

    /* 4 columns × 4 rows */
    /* grid-template-columns: minmax(1fr, 300px) 1fr 1fr minmax(1fr, 300px); */
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));

    gap: 12px;
    height: 100vh;
}

.panel {
    min-height: 0;
    min-width: 0;
    overflow: auto;

    border: 1px solid var(--accent-border);
    padding: 12px;
}

.list {
    grid-row: 1 / span 3;
    grid-column: 1 / span 1;
}

.scene {
    grid-row: 1 / span 3;
    grid-column: 2 / span 2;
}

.inspector {
    grid-row: 1 / span 3;
    grid-column: 4 / span 1;
}

.components {
    grid-row: 4 / span 1;
    grid-column: 1 / span 2;
}

.assets {
    grid-row: 4 / span 1;
    grid-column: 3 / span 2;
}
